@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');


/* CONTENT START */

.page {
  background-color: rgb(247, 247, 247);
  padding-top: 30px;
}

/* CONTENT END */


/* NAV BAR START ///////////////////////////////////////////// */

.navbar-fixed {
  position: absolute;
  z-index: 999999999;
}

nav a {
  color: white !important;
  font-size: 17px !important;
  font-weight: 500;
  text-decoration: none !important;
}

.nav-wrapper {
  background-color: rgb(66,86,100);
  font-size: 14px;
  font-weight: bold;
}

.nav-wrapper a:hover {
  color: rgb(104, 246, 191) !important;
}

nav ul {
  font-size: 20px;
}

.shadow {
  -webkit-box-shadow: 0 6px 4px -4px black !important;
  -moz-box-shadow: 0 6px 4px -4px black !important;
  box-shadow: 0 6px 4px -4px black !important;
}

/* NAV BAR END /////////////////////////////////////////////// */

/* LOGO START //////////////////////////////////////////////// */

.logo-image {
  width: 400px;
  height: auto;
}

/* LOGO END ////////////////////////////////////////////////// */

/* AREA START //////////////////////////////////////////////// */

.area-image-container {
  position: relative;
  text-align: center;
  color: white;
  box-shadow: 0px -8px 5px rgb(27, 117, 15);
}

.area-image {
  width: 100%;
}

.area-image-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: black;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.area-campusnutrition-logo {
  position: absolute;
  top: 5%;
  left: 75%;
  width: 20%;
  height: auto;
}

/* AREA END ////////////////////////////////////////////////// */

/* SEARCH START ////////////////////////////////////////////// */

.search-container {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  border-style: solid;
  border-radius: 30px;
  border-color: rgba(0, 0, 0, 0.5);
  display: flex;
  color: #4a4a4a;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.search-container i {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.search-query {
  margin-left: 5px !important;
  margin-right: 10px !important;
}

.refresh-icon-container {
  border-left: solid;
  border-color: grey;
}

.dropdown-icon-container {
  border-right: solid;
  border-color: grey;
}

.search-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 13px;
  padding-left: 5px;
  border-left: solid;
  border-color: grey;
}

.search-dropdown-content {
  display: none;
  position: absolute;
  border-radius: 15px;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.search-dropdown-item {
  margin-top: 5px;
}

.search-dropdown:hover .search-dropdown-content {
  display: block;
}

/* SEARCH END //////////////////////////////////////////////// */

.page {
  position: relative;
  min-height: 100vh;
  margin-bottom: 40px;
}

.content {
  max-width: 1160px;
  padding: 0 34px;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .content {
    padding: 0 20px;
  }
}

@media (min-width: 1281px) {
  .content {
    max-width: 1520px;
  }
}

.mobile-controls {
  display: none;
  position: relative;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .mobile-controls {
    display: flex;
  }
}

.mobile-controls-close {
  position: absolute;
  top: 10px;
  right: 0;
}

.control-input-wrapper {
  padding: 11px 16px;
  border: 1px solid #e0e0e0;
  transition: border-color 300ms;
}

.control--focused {
  border-color: #949494;
}

.control-icon {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.control-input {
  max-height: 24px;
  line-height: 24px;
}

.control-input--time {
  max-width: 75px;
}

@media (max-width: 956px) {
  .control-input--small {
    max-width: 75px;
  }
}

.control-label {
  font-size: 14px;
  color: #626262;
  margin-bottom: 8px;
}

.control + .control {
  margin-left: 20px;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant-card {
  --height: 367px;
  height: var(--height);
  width: 100%;
  cursor: pointer;
}

@media (max-width: 550px) {
  .restaurant-card {
    --height: 330px;
  }
}

.restaurant-card-img-container {
  overflow: hidden
}

.restaurant-card-img {
  height: calc(var(--height) * 0.7);
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.restaurant-card-img:hover {
  transform: scale(1.1);
}

.restaurant-card-title {
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 3px;
}

.restaurant-card-categories {
  font-size: 14px;
  color: #757575;
  margin-top: 0px;
}

.restaurants-list {
  --card-width: 348px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  gap: 0px 20px;
}

@media (max-width: 956px) {
  .restaurants-list {
    --card-width: 340px;
    row-gap: 20px;
  }
}

@media (max-width: 550px) {
  .restaurants-list {
    --card-width: 280px;
  }
}
.select {
  position: relative;
}

/* FOOTER START ////////////////////////////////////////////// */

.site-footer {
  background-color: rgb(66, 86, 100);
  padding: 45px 0 20px;
  padding-bottom: 100px;
  font-size: 15px;
  line-height: 24px;
  color: white;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: rgb(104, 246, 191);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.footer-links a {
  color: white;
}

.footer-links a:hover {
  color: rgb(104, 246, 191);
  text-decoration: none;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons a.email:hover {
  background-color: rgb(104, 246, 191);
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.footer-email-input-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color:white;
}

.footer-email-input {
  border-style: none !important;
  margin-bottom: 0 !important;
  padding-left: 10px !important;
  color: black !important;
}

.footer-email-input:hover {
  border-style: none !important;
  margin-bottom: 0 !important;
  padding-left: 10px !important;
  color: black !important;
}

.success-message {
  border-style: solid;
  border-color: rgb(104, 246, 191);
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
}


.footer-email-submit {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  background-color: black;
  border-style: none;
}

.footer-email-submit:hover {
  background-color: rgba(0, 224, 162, 0.2);
}

.footer-email-submit:focus {
  outline: 0;
}

.footer-email-submit:not(:hover) {
  background-color: black;
}

i.icon-white {
  color: rgb(104, 246, 191);
}

.join-us {
  margin-bottom: 10px;
}

.campusnutrition-email {
  margin-bottom: 10px;
}

/* FOOTER END //////////////////////////////////////////////// */
