/* NAV BAR START ///////////////////////////////////////////// */

.navbar-fixed {
    position: absolute;
    z-index:999999999;
}

nav a {
    color: black !important;
    font-size: 17px !important;
    font-weight: 500;
    text-decoration: none!important;
}

.nav-wrapper {
    font-size: 14px;
    font-weight: bold;
}

nav ul {
    font-size: 20px;
}

/* NAV BAR END /////////////////////////////////////////////// */

/* LOGO START //////////////////////////////////////////////// */

.logo-image {
    width: 70px;
    height: auto;
}

/* LOGO END ////////////////////////////////////////////////// */

/* SEARCH START ////////////////////////////////////////////// */

.search-container {
    margin-left: 15%;
    margin-right: 15%;
    border-style: solid;
    border-radius: 30px;
    border-color: rgba(0,0,0,0.5);
    display: flex;
}

.search-container i {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.search-query {
    margin-right: 5px;
}

.fix-search {
    position: fixed;
    background-color: white;
    border-radius: 0;
    border-style: none;
    width: 100%;
    z-index: 9999;
    top: 0;
    margin: 0;
}

/* SEARCH END //////////////////////////////////////////////// */

.page {
    position: relative;
    padding-top: 40px;
    min-height: 100vh;
    margin-bottom: 40px;
}

.content {
    max-width: 1160px;
    padding: 0 34px;
    margin: 0 auto;
}

@media (max-width: 550px) {
    .content {
        padding: 0 20px;
   }
}

@media (min-width: 1281px) {
    .content {
        max-width: 1520px;
   }
}

.mobile-controls {
    display: none;
    position: relative;
    padding-top: 30px;
}

@media (max-width: 768px) {
    .mobile-controls {
        display: flex;
   }
}

.mobile-controls-close {
    position: absolute;
    top: 10px;
    right: 0;
}

.control-input-wrapper {
    padding: 11px 16px;
    border: 1px solid #e0e0e0;
    transition: border-color 300ms;
}

.control--focused {
    border-color: #949494;
}

.control-icon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.control-input {
    max-height: 24px;
    line-height: 24px;
}

.control-input--time {
    max-width: 75px;
}

@media (max-width: 956px) {
    .control-input--small {
        max-width: 75px;
   }
}

.control-label {
    font-size: 14px;
    color: #626262;
    margin-bottom: 8px;
}

.control + .control {
    margin-left: 20px;
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restaurant-card {
    --height: 367px;
    height: var(--height);
    width: 100%;
    cursor: pointer;
}

@media (max-width: 550px) {
    .restaurant-card {
        --height: 330px;
   }
}

.restaurant-card-img {
    height: calc(var(--height) * 0.7);
    width: 100%;
    object-fit: cover;
}

.restaurant-card-title {
    font-size: 20px;
    margin: 12px 0 4px;
}

.restaurant-card-categories {
    font-size: 14px;
    color: #757575;
    margin-botton: 4px;
}

.restaurants-list {
    --card-width: 348px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    gap: 40px 20px;
}

@media (max-width: 956px) {
    .restaurants-list {
        --card-width: 340px;
        row-gap: 20px;
   }
}

@media (max-width: 550px) {
    .restaurants-list {
        --card-width: 280px;
   }
}
.select {
    position: relative;
}
