{% extends "restaurants/base.html" %}
{% load static %}
{% load file_exists %}

{% block content %}
<main class="page">
    <div class="content">
        {% if restaurant_list %}
            <div class="restaurants-list">
                {% for restaurant in restaurant_list %}
                    <div class="restaurant-card">
                        <img
                            src="{% static 'restaurants/images/stores/' %}{{ restaurant.img }}" 
                            alt="{{ restaurant.name }}"
                            class="restaurant-card-img"
                        />
                        <h2 class="restaurant-card-title">{{ restaurant.name }}</h2>
                        <div class="restaurant-card-categories">
                            {{ restaurant.category }}
                        </div>
                    </div>
                {% endfor %}
            <div>
        {% endif %}
    </div>
</main>
{% endblock %}
