{% load static %} {% load file_exists %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ tracking_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "{{ tracking_id }}");
    </script>
      
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'restaurants/css/base.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="{% static 'restaurants/images/favicon.ico' %}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="{% static 'restaurants/js/subscribe.js' %}"></script>

    <title>{% block title %}{% endblock %}</title>

    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div id="root">
      <header>
        <div class="navbar-fixed">
          <nav class="nav-wrapper z-depth-0">
            <div class="container">
              <a href="/" class="brand-logo">
                <img
                  src="{% static 'restaurants/images/campus_nutrition_logo_header.png' %}"
                  alt="Campus Nutrition Logo"
                  class="logo-image"
                />
              </a>
              <a href="" class="sidenav-trigger" data-target="mobile-menu">
                <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="map">Map</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
              <ui id="mobile-menu" class="sidenav grey lighten-2">
                <li><a href="/">Home</a></li>
                <li><a href="map">Map</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
              </ui>
            </div>
          </nav>
        </div>
        {% block search %}{% endblock %}
      </header>

      {% block content %}{% endblock %}

      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">
                Campus Nutrition is an independent non-profit organization
                commited to increasing awareness about nutrition and the food
                options that are available on campus. It aims to address and
                minimize current barriers that prevent students and other
                members of campus communties from consuming a healthy diet.
                Campus Nutrition was founded in 2019 by a group of UBC students.
              </p>
            </div>

            <div class="quick-links col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="/about">About Us</a></li>
                <li>
                  <a href="/why">Why Campus Nutrition</a>
                </li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </div>

            <div class="col-xs-6 col-md-3">
              <h6>Join</h6>
              <div class="join-us-container">
                <div class="join-us">
                  Join our email list to stay up to date with the latest from
                  Campus Nutrition!
                </div>
                <div class="success-message" style="display: none">
                  Success!
                </div>
                <form
                  class="footer-input-form"
                  id="subscribe"
                  form
                  method="POST"
                >
                  {% csrf_token %}
                  <div class="footer-email-input-container">
                    <input
                      class="footer-email-input"
                      placeholder="Enter your email address"
                      id="email_id"
                      name="email_id"
                      type="email"
                      required
                    />
                    <button
                      class="footer-email-submit"
                      type="submit"
                      value="Subscribe"
                      id="email_submit"
                    >
                      <i class="material-icons icon-white">arrow_right_alt</i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <hr />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">
                Copyright &copy; 2020 All Rights Reserved by Campus Nutrition.
              </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li>
                  <a class="email" href="mailto:admin@campusnutrition.ca"
                    ><i class="fa fa-envelope"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% block extra_js %}{% endblock %}

<script>
  $(document).ready(function() {
    $(".sidenav").sidenav();
  });

  $(".footer-input-form").submit(function() {
    $(".success-message").show();
    return false;
  });

  $("#subscribe").submit(function(e) {
    e.preventDefault();
    var email_id = $("#email_id").val();
    if (email_id) {
      var csrfmiddlewaretoken = csrftoken;
      var email_data = {
        email_id: email_id,
        csrfmiddlewaretoken: csrfmiddlewaretoken
      };
      $.ajax({
        type: "POST",
        url: "/subscribe/",
        data: email_data,
        success: function(response) {
          $("#email_id").val("");
          if (response.status == "404") {
            alert("This Email is already been subscribed!");
          }
        },
        error: function(response) {
          alert("Sorry Something went Wrong");
          $("#email_id").val("");
        }
      });
      return false;
    } else {
      alert("Please provide correct email!");
    }
  });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

  function csrfSafeMethod(method) {
    return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
</script>
