{% load static %}
{% load file_exists %}

<link rel="stylesheet" type="text/css" href="{% static 'restaurants/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div id="root">

  <header>
      <nav class="nav-wrapper transparent z-depth-0">
          <div class="container">
            <a href="/" class="brand-logo">
              <img
                src="{% static 'restaurants/images/campusnutrition_logo.png' %}"
                alt="Campus Nutrition Logo"
                class="logo-image"
              />
            </a>
            <a href="" class="sidenav-trigger" data-target="mobile-menu">
              <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/grid">HOME</a></li>
              <li><a href="/map">MAP</a></li>
              <li><a href="/about">ABOUT</a></li>
              <li><a href="/contact">CONTACT</a></li>
            </ul>
            <ui id="mobile-menu" class="sidenav grey lighten-2">
                <li><a href="sass.html">GRID</a></li>
                <li><a href="badges.html">MAP</a></li>
                <li><a href="collapsible.html">ABOUT</a></li>   
            </ui>
          </div>
      </nav>

      <hr>

      <div class="search-container">
          <div class="search-icon-container">
              <i class="material-icons">search</i>
          </div>
          <div class="search-dropdown">
            <span>Restaurant</span>
            <div class="search-dropdown-content">
              <div class="search-dropdown-item">Restaurant</div>
              <div class="search-dropdown-item">Category</div>
            </div>
          </div>
          <div class="dropdown-icon-container">
              <i class="material-icons">arrow_drop_down</i>
          </div>
          <input type="search" class="search-query" placeholder="Search Restaurants">
          <div class="refresh-icon-container">
              <i class="material-icons">refresh</i>
          </div>
      </div>

    </header>

  {% block content %}{% endblock %}

  <footer class="footer-distributed">

    <div class="footer-space"></div>

    <div class="footer-container">

        <div class="footer-left">
          
          <img
            src="{% static 'restaurants/images/campusnutrition_logo.png' %}"
            alt="Campus Nutrition Logo"
            class="logo-image-footer"
          />

          <div class="campus-name-logo">CAMPUS NUTRITION</div>
    
        </div>
  
        <div class="footer-middle">

          <ui>
            <li><a href="/about">About us</a></li>
            <li><a href="/about">Why campus nutrition</a></li>
            <li><a href="/contact">Contact us</a></li>
          </ui>

        </div>
    
        <div class="footer-right">
  
          <div class="join-us-container">
            <div class="join-us">Join our email list:</div>
            <div class="email-input-container">
                <input class="email-input" placeholder="Enter your email address">
                <button class="email-submit" type="submit">
                    <i class="material-icons icon-white">arrow_right_alt</i>
                </button>
              </div>
          </div>

          <div class="campusnutrition-email">admin@campusnutrition.ca</div>

          <div class="copyright">Copyright © 2020 Campus Nutrition</div>

        </div>
    </div>
  

  
  </footer>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>

  $(document).ready(function() {
    $(".sidenav").sidenav();
  })

  wrap = $(".search-container");

  $(window).on("scroll", function(e) {

    if ($(this).scrollTop() > 147) {
      $(wrap).addClass("fix-search");
    } else {
      $(wrap).removeClass("fix-search");
    }

  });

</script>
