{% extends 'restaurants/base.html' %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'restaurants/css/food.css' %}"
/>

<script>
$(document).ready(function(){
  		$('.modal').modal();
 });
</script>


<main class="page">
  
    <div class="content">
      <article class="card">
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">
          <div>
          <img src="https://cdn.pixabay.com/photo/2013/07/12/16/53/burger-151421_960_720.png" alt="Burger" class="image">
          <div class="infos">
              <h2 class="title">Burger<span class="food_icon"></span></h2>
              <h3 class="calorie">Calories: 500</h3>
              <h3 class="restriction">Vegan, Lactose..</h3>
              <p class="txt">Burger for everyone, Go eat, Go eat, Go eat, Go eat, Go eat, Go eat, Go eat, Go eat, Go eat, Go eat, Go eat</p>
            <h3>card for quick info about food</h3>
            <h3>click for popup of detail food info</h3>
            </div>
          </div>
      </a>
      </article> 
  </a>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</main>

{% endblock content %}