@import "../../styles/utils";

.footer {
    padding: 64px 0;
    background-color: #262626;

    &__top-part {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #c4c4c4;
        
        @extend %flex-row-center;
        align-items: flex-start;
    }

    &__logo-container {
        @extend %flex-row-center;

        margin-bottom: 40px;

        @media (max-width: $break-point-tablet) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__logo {
        margin-right: 40px;

        @media (max-width: $break-point-tablet) {
            margin-bottom: 40px;
        }
    }

    &__main {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        flex-basis: 45vw;
        padding-right: 40px;
    }
}