@import "../../styles/extends";

.footer {
    padding: 64px 0;
    background-color: #262626;

    &__top-part {
        @extend %flex-row-center;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #c4c4c4;
    }

    &__main {
        flex-basis: 45vw;
        padding-right: 40px;
    }
}